<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }} - {{ site.name }}</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
    <header>
        <nav class="row">
            <ul>
            {% assign iCount = site.pages | size %}
            {% for weight in (1..iCount) %}
                {% for iPage in site.pages %}
                    {% if iPage.weight == weight %}
                    <li{% if page.title == iPage.title %} class="active"{% endif %}>
                        <a href="{{ iPage.url }}">{{ iPage.title }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>
        </nav>
    </header>
    {% if page.hasNoSide %}
        {{ page.title }}
        {{ content }}
    {% else %}
    <div class="row">
        <div class="row-content">
            {{ page.title }}
            {{ content }}
        </div>
        <div class="row-side">
        </div>
    </div>
    {% endif %}
    <footer></footer>
</body>
</html>
